@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span class="text-primary fw-bolder">Yemek Sipariş Uygulamasına</span> <span class="text-warning fw-bolder"> Hoş</span> <span class="text-warning fw-bolder"> Geldiniz!</span></h1> 
    <p class="fs-3">
        Bu uygulama ASP.NET Core 7.0 Framework'ü kullanılarak hazırlanmıştır
    </p>    
    <p class="fs-3">
        Bu uygulama içerisinde tamamen T-SQL sorguları MSSQL veri tabanına gönderilerek veriler üzerinde <br /> <span class="fw-bolder text-success fs-1"> Ekleme, Silme, Güncelleme, Listeleme, Stored Procedure, Trigger </span> <br /> işlemleri gerçekleştirilmiştir.
    </p>
</div>
